<!DOCTYPE html>
<html lang="en"    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/js/layui/css/layui.css"/>
</head>
<body class="layui-layout-body" >

    <div class="layui-layout layui-layout-admin">

        <div class="layui-body" style="left: 0 ;top: 0px; bottom: 0px">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <button class="layui-btn add">添加费用记录</button>
                <table class="layui-hide" id="fee_table"></table>
            </div>
        </div>
    </div>

</body>

<script src="/js/layui/layui.all.js"></script>
<script src="/js/common/common.js"></script>

<script  th:inline="javascript">
    /*<![CDATA[*/
    var contractId = [[${contractId}]];
    /*]]>*/
    var API_FEE = {
        search: "/agreement/getFeeData",
        add   : "/agreement/addFeeInfo"
    }
    var laydate = layui.laydate;
    layui.use(['table','laytpl','form'],function(){
        var table =layui.table;
        var form = layui.form;
        var laytpl = layui.laytpl;
        table.render({
            elem:'#fee_table',
            url:API_FEE.search,
            cols:[[
                {type:'numbers'},
                {field:'manageFee',title:'管理费',width:80},
                {title:'管理费有效日期',width:200,templet:'#manageFeeTimeTemplate'},
                {field:'vehicleFee',title:'交强险',width:80},
                {title:'交强险费用有效日期',width:200,templet:'#vehicleFeeTimeTemplate'},
                {field:'threeInsuranceFee',title:'三险',width:80},
                {title:'三险费用有效日期',width:200,templet:'#threeInsuranceFeeTemplate'},
                {field:'gradeInsuranceFee',title:'等级二保',width:100},
                {title:'等级二保费用有效日期',width:200,templet:'#gradeInsuranceFeeTimeTemplate'},
                {field:'other',title:'其他',width:80},
                {field:'remark',title:'备注',width:80},
                {field:'uT',title:'操作时间',width:150,templet:'#uTTemplate'},
                {field:'uUName',title:'操作人',width:80},
            ]],
            id:'fee',
            height:400,
            where:{contractId:contractId}
        });

        /*新增*/
        $(".add").click(function () {
            layer.open({
                type: 1,
                area: ['800px', '500px'],
                title: ['收费', 'font-size:18px;'],
                skin: 'layui-layer-molv',
                content: $("#addTemplate").html(),
                btn: ['确认'],
                yes: function(index, layero) {
                    var dataOfAdd = {
                        contractId                      : contractId,
                        manageFee                       : $("#addAndEditTmpl #manageree").val(),
                        manageFeeTimeStr                : $("#addAndEditTmpl #manageFeeTime").val(),
                        manageFeeExpireTimeStr          : $("#addAndEditTmpl #manageFeeExpireTime").val(),
                        vehicleFee                      : $("#addAndEditTmpl #vehicleFee").val(),
                        vehicleFeeTimeStr               : $("#addAndEditTmpl #vehicleFeeTime").val(),
                        vehicleFeeExpireTimeStr         : $("#addAndEditTmpl #vehicleFeeExpireTime").val(),
                        threeInsuranceFee               : $("#addAndEditTmpl #threeInsuranceFee").val(),
                        threeInsuranceFeeTimeStr        : $("#addAndEditTmpl #threeInsuranceFeeTime").val(),
                        threeInsuranceFeeExpireTimeStr  : $("#addAndEditTmpl #threeInsuranceFeeExpireTime").val(),
                        gradeInsuranceFee               : $("#addAndEditTmpl #gradeInsuranceFee").val(),
                        gradeInsuranceFeeTimeStr        : $("#addAndEditTmpl #gradeInsuranceFeeTime").val(),
                        gradeInsuranceFeeExpireTimeStr  : $("#addAndEditTmpl #gradeInsuranceFeeExpireTime").val(),
                        other                           : $("#addAndEditTmpl #other").val(),
                        remark                          : $("#addAndEditTmpl #remark").val(),
                    };
                    var isOk = checkParam(dataOfAdd);
                    if (!isOk){
                        return;
                    }
                    $.post({
                        url:API_FEE.add,
                        data:dataOfAdd,
                        success:function (result) {
                            if (result.code == 0){
                                table.reload('fee',{where:{contractId:contractId}});
                            }
                            layer.close(index);
                            layer.msg(result.msg);
                        }
                    })
                }
            });
            form.render('select');
            /*时间拾取器*/
            laydate.render({
                elem: '#manageFeeTime'
            });
            laydate.render({
                elem: '#manageFeeExpireTime'
            });
            laydate.render({
                elem: '#vehicleFeeTime'
            });
            laydate.render({
                elem: '#vehicleFeeExpireTime'
            });
            laydate.render({
                elem: '#threeInsuranceFeeTime'
            });
            laydate.render({
                elem: '#threeInsuranceFeeExpireTime'
            });
            laydate.render({
                elem: '#gradeInsuranceFeeTime'
            });
            laydate.render({
                elem: '#gradeInsuranceFeeExpireTime'
            });
        });
    });

    function checkParam(data) {
        if(isNotEmpty(data.manageFee)&&(isEmpty(data.manageFeeExpireTimeStr) || isEmpty(data.manageFeeTimeStr))){
            layer.msg('请选择管理费时间');
            return false;
        }
        if(isNotEmpty(data.vehicleFee)&&(isEmpty(data.vehicleFeeTimeStr) || isEmpty(data.vehicleFeeExpireTimeStr))){
            layer.msg('请选择交强险费用时间');
            return false;
        }
        if(isNotEmpty(data.threeInsuranceFee)&&(isEmpty(data.threeInsuranceFeeTimeStr) || isEmpty(data.threeInsuranceFeeExpireTimeStr))){
            layer.msg('请选择三险费用时间');
            return false;
        }
        if(isNotEmpty(data.gradeInsuranceFee)&&(isEmpty(data.gradeInsuranceFeeTimeStr) || isEmpty(data.gradeInsuranceFeeExpireTimeStr))){
            layer.msg('请选择等级二保费用时间');
            return false;
        }
        return true;
    }

</script>
<!--模板-->
<script type="text/html" id="manageFeeTimeTemplate">
    {{formatTimestamp(d.manageFeeTime,'yyyy-MM-dd') + "-" + formatTimestamp(d.manageFeeExpireTime,'yyyy-MM-dd')}}
</script>
<script type="text/html" id="vehicleFeeTimeTemplate">
    {{formatTimestamp(d.vehicleFeeTime,'yyyy-MM-dd') + "-" + formatTimestamp(d.vehicleFeeExpireTime,'yyyy-MM-dd')}}
</script>
<script type="text/html" id="threeInsuranceFeeTemplate">
    {{formatTimestamp(d.threeInsuranceFeeTime,'yyyy-MM-dd') + "-" + formatTimestamp(d.threeInsuranceFeeExpireTime,'yyyy-MM-dd')}}
</script>
<script type="text/html" id="gradeInsuranceFeeTimeTemplate">
    {{formatTimestamp(d.gradeInsuranceFeeTime,'yyyy-MM-dd') + "-" + formatTimestamp(d.gradeInsuranceFeeExpireTime,'yyyy-MM-dd')}}
</script>

<!--更新时间模板-->
<script type="text/html" id="uTTemplate">
   {{formatTimestamp(d.uT,'yyyy-MM-dd')}}
</script>
<!--添加模板-->
<script type="text/html" id="addTemplate">
    <!--添加人员信息的模版-->
    <div style="margin: 20px">
        <div style="margin: 10px" id="addAndEditTmpl">
            <div class="layui-form-item layui-form layui-form-pane">
                <fieldset class="layui-elem-field layui-field-title"  style="margin-top: 0px">
                    <legend style=";font-size: 16px">管理费用</legend>
                </fieldset>
                <div class="layui-inline">
                    <label class="layui-form-label">管理费</label>
                    <div class="layui-input-inline">
                        <input type="text" id="manageree" name="manageree" placeholder="管理费" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">管理费缴费日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="manageFeeTime" name="manageFeeTime" placeholder="管理费缴费日期" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">管理费到期日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="manageFeeExpireTime" name="manageFeeExpireTime" placeholder="管理费到期日期" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title"  style="margin-top: 0px">
                    <legend style=";font-size: 16px">交强险费用</legend>
                </fieldset>
                <div class="layui-inline">
                    <label class="layui-form-label">交强险费用</label>
                    <div class="layui-input-inline">
                        <input type="text" id="vehicleFee" name="vehicleFee" placeholder="交强险" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">管理费缴费日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="vehicleFeeTime" name="vehicleFeeTime" placeholder="管理费缴费日期" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">管理费到期日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="vehicleFeeExpireTime" name="vehicleFeeExpireTime" placeholder="管理费到期日期" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title"  style="margin-top: 0px">
                    <legend style=";font-size: 16px">三险费用</legend>
                </fieldset>
                <div class="layui-inline">
                    <label class="layui-form-label">三险费用</label>
                    <div class="layui-input-inline">
                        <input type="text" id="threeInsuranceFee" name="threeInsuranceFee" placeholder="三险" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">三险费用缴费日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="threeInsuranceFeeTime" name="threeInsuranceFeeTime" placeholder="三险费用缴费日期" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">三险费用到期日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="threeInsuranceFeeExpireTime" name="threeInsuranceFeeExpireTime" placeholder="三险费用到期日期" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title"  style="margin-top: 0px">
                    <legend style=";font-size: 16px">等级二保</legend>
                </fieldset>
                <div class="layui-inline">
                    <label class="layui-form-label">等级二保</label>
                    <div class="layui-input-inline">
                        <input type="text" id="gradeInsuranceFee" name="gradeInsuranceFee" placeholder="等级二保" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">等级二保缴费日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="gradeInsuranceFeeTime" name="gradeInsuranceFeeTime" placeholder="等级二保缴费日期" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">等级二保到期日期</label>
                    <div class="layui-input-inline">
                        <input type="text" id="gradeInsuranceFeeExpireTime" name="gradeInsuranceFeeExpireTime" placeholder="等级二保到期日期" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title"  style="margin-top: 0px">
                    <legend style=";font-size: 16px">其他</legend>
                </fieldset>
                <div class="layui-inline">
                    <label class="layui-form-label">其他</label>
                    <div class="layui-input-inline">
                        <input type="text" id="other" name="other" placeholder="其他" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title"  style="margin-top: 0px">
                    <legend style=";font-size: 16px">备注</legend>
                </fieldset>
                <div class="layui-inline">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline">
                        <textarea  type="text" id="remark" name="remark" autocomplete="off" class="layui-input"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
</html>