<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>test</title>
    <link rel="stylesheet" href="/js/layui/css/layui.css"/>
</head>
<style>
    .layui-form-switch{
        margin-top: 0px;
    }
    .layui-border-box, .layui-border-box * {
        box-sizing: initial;
    }
</style>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">

        <div class="layui-header">
            <div class="layui-logo">CMS</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="/customer/index">人员管理</a></li>
                <li class="layui-nav-item"><a href="/car/index">车辆管理</a></li>
                <li class="layui-nav-item"><a href="/company/index">公司管理</a></li>
                <li class="layui-nav-item"><a href="/agreement/index">合同费用管理</a></li>
                <li class="layui-nav-item"><a href="/workOrder/index">工单</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="/image/head.png" class="layui-nav-img"/><span  th:text="${user.name}"></span>
                    </a>
                    <dl class="layui-nav-child">
                    <dd><a href="">退出</a></dd>
                </dl>
                </li>
            </ul>
        </div>

        <div class="layui-body" style="left: 0">

            <!--查询模块-->
            <div style="padding: 15px;">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>查询</legend>
                </fieldset>
                <div class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="clientName" autocomplete="off" class="layui-input" id="clientName"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">车牌号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="busName" autocomplete="off" class="layui-input" id="busName"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">是否处理</label>
                            <div class="layui-input-block">
                                <select name="status" lay-filter="aihao" id="status">
                                    <option value="">全部</option>
                                    <option value="0">未处理</option>
                                    <option value="1">已处理</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn" data-type="reload" >查询</button>
                    </div>
                </div>
            </div>


            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>显示</legend>
                </fieldset>
                <table class="layui-hide" id="workOrder_table" lay-filter="workOrder"></table>
            </div>
        </div>

</div>
</body>
<script src="/js/layui/layui.all.js"></script>
<script src="/js/common/common.js"></script>
<script >
    var API = {
        search: "/workOrder/getData",
        changeStatus: "/workOrder/changeStatus",
        notify: "/workOrder/notify"
    }
    var $ =layui.$;
    layui.use(['table','laytpl','form'],function(){
        var table =layui.table;
        var form = layui.form;
        var laytpl = layui.laytpl;
        table.render({
            elem:'#workOrder_table',
            url:API.search,
            cols:[[
                {field:'clientName',title:'姓名',width:'10%'},
                {field:'busNumber',title:'车牌号',width:'10%'},
                {field:'content',title:'处理内容',width:'40%'},
                {field:'expirationTime',title:'到期时间',width:'10%',templet:'#expirationTimeTemplate'},
                {title:'短信通知',width:'10%' , templet:'#smsTpl'},
                {field:'status',title:'是否处理',width:'10%' , templet:'#statusTpl'}
            ]],
            id:'workOrder',
            page:true,
            height:500
        });
        var active ={reload:function(){
            var clientName =$('#clientName').val();
            var busNumber = $("#busNumber").val();
            var status = $("#status").val();
            table.reload('workOrder',{where:{clientName:clientName,busNumber:busNumber,status:status}});
        }};
        $('.layui-form .layui-btn').on('click',function(){var type =$(this).data('type');active[type] ?active[type].call(this) :'';});

        //监听性别操作
        form.on('switch(statusFilter)', function(obj){
            var id = $(this).data('id');
            var status =  obj.elem.checked ? 0 : 1;
            var param = {
                id : id,
                status : status
            }
            postData(API.changeStatus,param,dealResult);
        });

        /*操作事件*/
        table.on('tool(workOrder)', function(obj){
            var data = obj.data;
            if(obj.event === 'notify'){
                layer.confirm('确定要通知客户吗？', function(index){
                    $.post({
                        url:API.notify,
                        data:{clientId:data.clientId,handlerId:data.handlerId},
                        success:function (result) {
                            layer.msg(result.message);
                        }
                    })
                    layer.close(index);
                });
            }
        });

    });

    function dealResult(data) {
        layer.msg(data.message);
    }
</script>

<script type="text/html" id="expirationTimeTemplate">
    {{formatTimestamp(d.expirationTime,'yyyy-MM-dd')}}
</script>

<script type="text/html" id="smsTpl">
    <a class="layui-btn layui-btn-xs" lay-event="notify">通知</a>
</script>

<!--处理状态-->
<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" value="{{d.status}}" data-id="{{d.id}}" lay-skin="switch" lay-text="否|是" lay-filter="statusFilter" {{ d.status == 0 ? 'checked' : '' }}>
</script>

</html>