<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>test</title>
    <link rel="stylesheet" href="/js/layui/css/layui.css"/>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!--菜单-->
        <div class="layui-header">
            <div class="layui-logo">CMS</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="/customer/index">人员管理</a></li>
                <li class="layui-nav-item"><a href="/car/index">车辆管理</a></li>
                <li class="layui-nav-item"><a href="/company/index">公司管理</a></li>
                <li class="layui-nav-item"><a href="/agreement/index">契约管理</a></li>
                <li class="layui-nav-item"><a href="/remind/index">提醒</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="/image/head.png" class="layui-nav-img"/><span  th:text="${user.name}"></span>
                    </a>
                    <dl class="layui-nav-child">
                    <dd><a href="/welcome/logout">退出</a></dd>
                </dl>
                </li>
            </ul>
        </div>


    <div class="layui-body" style="left: 0">

        <!--查询模块-->
        <div style="padding: 15px;">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>查询</legend>
            </fieldset>
            <div class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" autocomplete="off" class="layui-input" id="name"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-inline">
                            <input type="text" name="tel" autocomplete="off" class="layui-input" id="tel"/>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">公司</label>
                        <div class="layui-input-block">
                            <select name="companyId" lay-filter="aihao" id="companyId">
                                <option value>全部</option>
                                <option th:each="company : ${companyList}"
                                        th:value="${company.id}" th:text="${company.companyName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <select name="status" lay-filter="aihao" id="status">
                                <option value="0">有效</option>
                                <option value="1">无效</option>
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <button class="layui-btn" data-type="reload" >查询</button>
                </div>
            </div>
        </div>


        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 0px">
                <legend>显示</legend>
            </fieldset>
            <!--添加按钮-->
            <button class="layui-btn add">添加</button>

            <table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>
        </div>
    </div>
</div>
</body>

<script src="/js/layui/layui.all.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var companyList = [[${companyList}]];
    /*]]>*/
    var API = {
        search: "/customer/getData",
        add   : "/customer/add",
        update: "/customer/update"
    }
    var $ =layui.$;

    layui.use(['table','laytpl','form'],function(){
        /*table*/
        var table =layui.table;
        var form = layui.form;
        var laytpl = layui.laytpl;
        table.render({
            elem:'#LAY_table_user',
            url:API.search,
            cols:[[
                {field:'id',title:'ID',width:80,fixed:true},
                {field:'name',title:'姓名',width:80},
                {field:'mobile',title:'电话',width:200,event: 'setTel'},
                {field:'companyName',title:'所属公司',width:200},
                {field:'tel',title:'手机',width:200, event: 'setMobile'},
                {field:'address',title:'实际地址',width:200},
                {field:'nowAddress',title:'暂住地址',width:200,event: 'setNowAddress'},
                {field:'identifyNumber',title:'身份证号',width:200},
                {field:'status',title:'状态',width:80,templet: '.statusTpl'},
                {field:'other',title:'其他',width:80},
                {field:'uT',title:'操作时间',width:80},
                {field:'uUName',title:'操作人',width:80},
                {title:'操作',width:200 , align:'center', toolbar: '#barRender'}
            ]],
            id:'client',
            page:true,
            height:500
        });

        table.on('tool(user)',function(obj){
            var data =obj.data;
            if(obj.event ==='setTel'){
                layer.prompt({formType:2,
                    title:'修改 ID 为 ['+ data.id +'] 的用户签名',
                    value:data.sign
                    },
                    function(value,index){layer.close(index);obj.update({sign:value

                    });
                });
            }
        });
        var active ={reload:function(){
            var name =$('#name').val();
            var tel = $("#tel").val();
            var companyId = $("#companyId").val();
            var status = $("#status").val();
            table.reload('client',{where:{name:name,mobile:tel,companyId:companyId,status:status}});
        }};
        $('.layui-form .layui-btn').on('click',function(){var type =$(this).data('type');active[type] ?active[type].call(this) :'';});


        /*操作事件*/
        //监听工具条
        table.on('tool(user)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.post({
                        url:API.delete,
                        data:{id:data.id},
                        success:function (result) {
                            if (result.code == 0){
                                table.reload('companyTable');
                            }
                            layer.close(index);
                            layer.msg(result.msg);
                        }
                    })
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                var editData = {
                    companyList : companyList,
                    data : data
                }
                layer.open({
                    type: 1,
                    area: ['800px', '500px'],
                    title: ['修改公司信息', 'font-size:18px;'],
                    skin: 'layui-layer-molv',
                    content: getContent(editData,$("#editTemplate").html()),
                    btn: ['确认'],
                    yes: function(index, layero) {
                        var dataOfEdit = {
                            id : data.id,
                            name : $("#editTmpl #name").val(),
                            companyId : $("#editTmpl #companyId").val(),
                            mobile : $("#editTmpl #mobile").val(),
                            tel : $("#editTmpl #tel").val(),
                            status : $("#editTmpl #status").val(),
                            address : $("#editTmpl #address").val(),
                            nowAddress : $("#editTmpl #nowAddress").val(),
                            identifyNumber : $("#editTmpl #identifyNumber").val(),
                            other : $("#editTmpl #other").val()
                        }
                        $.post({
                            url:API.update,
                            data:dataOfEdit,
                            success:function (result) {
                                if (result.code == 0){
                                    table.reload('client');
                                }
                                layer.close(index);
                                layer.msg(result.msg);
                            }
                        })
                    }
                });
                form.render('select');
            }
        });
        /*新增*/
        $(".add").click(function () {
            layer.open({
                type: 1,
                area: ['800px', '500px'],
                title: ['新增客户', 'font-size:18px;'],
                skin: 'layui-layer-molv',
                content: getContent(companyList,$("#addTemplate").html()),
                btn: ['确认'],
                yes: function(index, layero) {
                    var dataOfAdd = {
                        name            : $("#addAndEditTmpl #name").val(),
                        tel             : $("#addAndEditTmpl #tel").val(),
                        mobile          : $("#addAndEditTmpl #mobile").val(),
                        address         : $("#addAndEditTmpl #address").val(),
                        nowAddress      : $("#addAndEditTmpl #nowAddress").val(),
                        identifyNumber  : $("#addAndEditTmpl #identifyNumber").val(),
                        other           : $("#addAndEditTmpl #other").val(),
                        status          : $("#addAndEditTmpl #status").val(),
                        companyId       : $("#addAndEditTmpl #companyId").val()
                    }
                    $.post({
                        url:API.add,
                        data:dataOfAdd,
                        success:function (result) {
                            if (result.code == 0){
                                table.reload('client');
                            }
                            layer.close(index);
                            layer.msg(result.msg);
                        }
                    })
                }
            });
            form.render('select');
        });

        //获取新增页面的
        function getContent(data,html) {
            var result = null;
            laytpl(html).render(data, function(html){
                result = html;
            });
            return result;
        }
    });

</script>

<!--状态模板-->
<script type="text/html" class="statusTpl">
    {{#  if(d.status === 0){ }}
    <span style="color: #5FB878;">有效</span>
    {{#  } else { }}
    无效
    {{#  } }}
</script>
<!--表格-编辑模板-->
<script type="text/html" id="barRender">
    <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>
<!--添加模板-->
<script type="text/html" id="addTemplate">
<!--添加人员信息的模版-->
<div style="margin: 20px">
    <div style="margin: 10px" id="addAndEditTmpl">
        <div class="layui-form-item layui-form layui-form-pane">

            <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input id="name" type="text" required  lay-verify="required" name="name" autocomplete="off" placeholder="请输入姓名" class="layui-input"/>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-inline">
                    <input id="tel" type="text" name="tel" autocomplete="off" placeholder="请输入电话" class="layui-input"/>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-block">
                     <input id="mobile" type="text" required  lay-verify="required" name="mobile" autocomplete="off" placeholder="请输入手机" class="layui-input"/>
                 </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">实际地址</label>
                <div class="layui-input-inline">
                    <input id="address" type="text" required  lay-verify="required" name="address" autocomplete="off" placeholder="请输入实际地址" class="layui-input"/>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">暂住地址</label>
                <div class="layui-input-block">
                    <input id="nowAddress" type="text" name="nowAddress" autocomplete="off" placeholder="请输入暂住地址" class="layui-input"/>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">身份证号</label>
                <div class="layui-input-inline">
                    <input id="identifyNumber" type="text" required  lay-verify="required" name="identifyNumber" autocomplete="off" placeholder="请输入身份证" class="layui-input"/>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">其他</label>
                <div class="layui-input-inline">
                    <input id="other" type="text" name="other" autocomplete="off" placeholder="其他备注信息" class="layui-input" style="width: 500px;"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form layui-form-pane">
            <div class="layui-inline">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <select id="status" name="status" required lay-filter="status_add_edit">
                        <option value=0>有效</option>
                        <option value=1>无效</option>
                    </select>
                </div>
            </div>


            <div class="layui-inline">
                <label class="layui-form-label">所属公司</label>
                <div class="layui-input-inline">
                    <select id="companyId" name="companyId" lay-filter="status_add_edit">
                        {{#  layui.each(d, function(index, item){ }}
                        <option value='{{item.id}}'>{{item.companyName}}</option>
                        {{#  }); }}
                        {{#  if(d.length === 0){ }}
                        无数据
                        {{#  } }}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
<!--编辑模板-->
<script type="text/html" id="editTemplate">
    <!--添加人员信息的模版-->
    <div style="margin: 20px">
        <div style="margin: 10px" id="editTmpl">
            <div class="layui-form-item layui-form layui-form-pane">

                <div class="layui-inline">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input value="{{ d.data.name }}" id="name" type="text" required  lay-verify="required" name="name" autocomplete="off" placeholder="请输入姓名" class="layui-input"/>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-inline">
                        <input value="{{ d.data.tel }}" id="tel" type="text" name="tel" autocomplete="off" placeholder="请输入电话" class="layui-input"/>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">手机</label>
                    <div class="layui-input-block">
                        <input value="{{ d.data.mobile }}" id="mobile" type="text" required  lay-verify="required" name="mobile" autocomplete="off" placeholder="请输入手机" class="layui-input"/>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">实际地址</label>
                    <div class="layui-input-inline">
                        <input value="{{ d.data.address }}" id="address" type="text" required  lay-verify="required" name="address" autocomplete="off" placeholder="请输入实际地址" class="layui-input"/>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">暂住地址</label>
                    <div class="layui-input-block">
                        <input value="{{ d.data.nowAddress }}" id="nowAddress" type="text" name="nowAddress" autocomplete="off" placeholder="请输入暂住地址" class="layui-input"/>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">身份证号</label>
                    <div class="layui-input-inline">
                        <input value="{{ d.data.identifyNumber }}" id="identifyNumber" type="text" required  lay-verify="required" name="identifyNumber" autocomplete="off" placeholder="请输入身份证" class="layui-input"/>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">其他</label>
                    <div class="layui-input-inline">
                        <input value="{{ d.data.other }}" id="other" type="text" name="other" autocomplete="off" placeholder="其他备注信息" class="layui-input" style="width: 500px;"/>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form layui-form-pane">
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select value="{{ d.data.status }}" id="status" name="status" required lay-filter="status_add_edit">
                            <option value=0>有效</option>
                            <option value=1>无效</option>
                        </select>
                    </div>
                </div>


                <div class="layui-inline">
                    <label class="layui-form-label">所属公司</label>
                    <div class="layui-input-inline">
                        <select value="{{ d.data.companyId }}" id="companyId" name="companyId" lay-filter="status_add_edit">
                            {{#  layui.each(d.companyList, function(index, item){ }}
                            <option value='{{item.id}}'>{{item.companyName}}</option>
                            {{#  }); }}
                            {{#  if(d.length === 0){ }}
                            无数据
                            {{#  } }}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

</html>