<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>test</title>
    <link rel="stylesheet" href="/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>
<style>
    body,html{
        width: 100%;
        height: 100%;
    }
    .loginMain{
        width: 100%;
        height: 100%;
        background-image: url(/image/login_bg.jpg);
    }
    .login{
        position: absolute;
        right: 160px;
        top: 50%;
        -webkit-transform: translateY(-60%);
        transform: translateY(-60%);
        width: 300px;
    }
    .input-group{
        margin-bottom: 30px;
    }
</style>
<body>
    <div class="loginMain container-fluid">
        <div class="panel panel-default login">
            <div class="panel-heading">欢迎登录</div>
            <div class="panel-body">
                <form class="layui-form" method = 'post'  action ="./login">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-user" id="mobile"></span>
                        <input id="mobileId" th:if${mobile} type="text" name="mobile"  class="form-control" placeholder="手机号" aria-describedby="mobile" lay-verify="required|phone|number">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-lock" id="password"></span>
                        <input id="passwordId" value="${password}" type="password" name="password" class="form-control" placeholder="密码" aria-describedby="password" lay-verify="required">
                    </div>
                    <button lay-submit type="button" class="btn btn-success" style="width: 100%;" lay-filter="*">登陆</button>
                </form>
            </div>
            </table>
        </div>
    </div>
</body>
<script src="/js/layui/layui.all.js"></script>
<script >
    var API = {
        "login" : "./login"
    }
    var $ =layui.$;
    var result = $.parseJSON("${result}");
    if (null == result){
        var layer = layui.layer;
        layer.msg(result.msg);
    }
    layui.use('form', function(){
        var form = layui.form;
        form.on('submit(*)', function(data){
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            var field = data.field;

            /*return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。*/
        });
    });
</script>

</html>