<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>test</title>
    <link rel="stylesheet" href="/js/layui/css/layui.css"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        <div class="layui-logo">CMS</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/customer/index">人员管理</a></li>
            <li class="layui-nav-item"><a href="/car/index">车辆管理</a></li>
            <li class="layui-nav-item"><a href="/agreement/index">契约管理</a></li>
            <li class="layui-nav-item"><a href="/remind/index">提醒</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img"></img>我
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>


    <div class="layui-body" style="left: 0">

        <div class="container-fluid">
            <div class="jumbotron">
                <h1>欢迎使用CMS</h1>
                <p>车辆管理系统！</p>
            </div>
        </div>

    </div>
</div>
</body>
<script src="/js/layui/layui.all.js"></script>
<script >

</script>

</html>